# Extraction of tecnical skills

Import the required library

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

Read the Example_Technical_Skills file

In [2]:
df1 = pd.read_csv('Example_Technical_Skills.csv')
df1.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

Read the Raw_Skills_Dataset file

In [3]:
df2 = pd.read_csv('Raw_Skills_Dataset.csv')
df2.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [4]:
skill = set()
for i in df1['Technology Skills']:
    skill.add(i)
print(len(skill))

897

In [5]:
new_skill = set()
for i in df2['RAW DATA']:
    if(i in skill):
        new_skill.add(i)
print(len(new_skill))

36

In [6]:
new_skill

{'ActiveMQ',
 'Adobe Photoshop',
 'Amazon Lambda',
 'Apache Oozie',
 'Bash',
 'Bitbucket',
 'Consul',
 'DRM',
 'DevOps',
 'EAC',
 'Eclipse',
 'Ethereum',
 'FTP',
 'Force.com',
 'GitHub',
 'Guidewire PolicyCenter',
 'Gulp',
 'Katalon',
 'Kotlin',
 'Magento',
 'Microsoft Azure Networking',
 'MySQL',
 'NetSuite',
 'NuGet',
 'Octopus Deploy',
 'OneStream',
 'OpenShift',
 'Phantom',
 'PostGIS',
 'Radius',
 'SAP Analytics Cloud',
 'SAP Lumira',
 'SAS Base',
 'SAS Enterprise Guide',
 'SAS JMP',
 'SCSS'}